<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <!-- Imagen reemplazando el ícono de Bootstrap -->
      <a href="https://steelroyaltech.com/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <img src="/logo.png" alt="Company Logo" style="width: 40px; height: 40px;">
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 Steel Royal Perú</span>
    </div>
  
    <!-- Redes sociales -->
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-body-secondary" href="https://www.instagram.com/steelroyalupc/" target="_blank" rel="noopener">
          <i class="bi bi-instagram" style="font-size: 24px;"></i>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="https://www.facebook.com/profile.php?id=61556817511303" target="_blank" rel="noopener">
          <i class="bi bi-facebook" style="font-size: 24px;"></i>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="https://www.tiktok.com/@steel_royal?_t=8rceODqMHnb&_r=1" target="_blank" rel="noopener">
          <i class="bi bi-tiktok" style="font-size: 24px;"></i>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="https://www.linkedin.com/company/steel-royal-peru/" target="_blank" rel="noopener">
          <i class="bi bi-linkedin" style="font-size: 24px;"></i>
        </a>
      </li>
    </ul>
  </footer>
  